<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nguyen Ho Bao Khanh</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="static/css/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/css/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/css/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/css/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/css/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">My Porfolio</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Projects</a>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#test">Testimonials</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

    <!--/ Intro Skew Star /-->
    <div id="home" class="intro route bg-image" style="background-image: url(static/img/Avatar/avatar2.jpg)">
      <div class="overlay-itro"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <!--<p class="display-6 color-d">Hello, world!</p>-->
            <h1 class="intro-title mb-4">Khanh Nguyen</h1>
            <p class="intro-subtitle"><span class="text-slider-items">Data Scientist, Project Management</span><strong class="text-slider"></strong></p>
            <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->

    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="static/img/Avatar/IMG_20200216_180713.jpg" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Nguyễn Hồ Bảo Khanh</span></p>
                        <p><span class="title-s">Email: </span> <span>nguyenhobaokhanh@gmail.com</span></p>
                        <p><span class="title-s">Phone: </span> <span>+84 979 857 209</span></p>
                        <p><span class="title-s">Skype: </span> <span>bao_khanh92</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skills</p>
                    <span>Project management</span> <span class="pull-right">100%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="85" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span>Communication</span> <span class="pull-right">95%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span>Team lead</span> <span class="pull-right">85%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span>Data Analysist</span> <span class="pull-right">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <span>Machine Learning</span> <span class="pull-right">70%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                    I strongly believe in the power of right values. Core values that I practices everyday in my life are grit, growth, word-hard, work-smart, resilience, adoptability, goals-oriented. 
                    </p>
                    <p class="lead">
                      Working as an account executive (project-manager) in one of the most well-known and high-demanding performance agency in Vietnam helps me to gain 
                      a strong project management skill.
                      Since another main part of my work is running a large amount of ads daily, gathering and analyzing these data to gain insights and decide our next steps
                      and I love doing it so much.
                     </p>
                    <p class="lead">
                      As an Barcamp organizer, I have the opportunity to meet and talk to many people in tech industry.
                      Seeing the powerfull impact of technology on every aspect of life and even to my industry. I realized that 
                      in order to go further, I will need technology knowledge and that is why I choose to study Machine Learning. 
                 </p>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.linkedin.com/in/nguyenhobaokhanh/" target='blank'><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                      <li><a href="https://github.com/baokhanh92" target='blank'><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                      <li><a href="https://twitter.com/Kate_NguyenHo" target='blank'><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <p class="subtitle-a">
              Click the pictures for more details.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="static/img/company/coder1.png" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="static/img/company/coderschool.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">CoderSchool</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Data scientist/Machine learning engineer</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="static/img/company/pmax1.png" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="static/img/company/pmax.png" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">PMAX</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Project Management/Team Lead</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="static/img/company/barcamp1.png" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="static/img/company/barcamp.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Barcamp Saigon</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Organizer</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
    
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Machine Learning Projects
            </h3>
            <p class="subtitle-a">
              Click learn more for detail projects.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-android-hand"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Hand Gestures Detection</h2>
              <p class="s-description text-center">
                This is an image classifcation problem. 
                I used VCG-16 based model to train the dataset, and received around 99% validation accuracy.               
              </p>
                  </div>
              <div class='link'>
              <a href="https://github.com/baokhanh92/Hand-gesture-controlling" target='blank'>Learn more</a>
          
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-ios-pulse-strong"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Google speech command</h2>
              <p class="s-description text-center">
              A set of Googe speech command which is 1 second long, with only one word like 'on, off, ...'
              I tested out 4 type of models to see what works the best for this problem. Melspectrogram + LSTM, LSTM, Shallow Neuron Network, CNN. And result is that the CNN model predicts 85% validation accuracy.
              </p>
            </div>
              <div class='link'>
                <a href="https://github.com/baokhanh92/Voice_detection_API_controlling" target='blank'>Learn more</a>
             
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-social-wordpress-outline"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">OCR Vietnamese</h2>
              <p class="s-description text-center">
                This is a contest from Cinnamon, the dataset is handwritten Vietnamese address and my work is to make these become digital address. 
                I approached this problem by using RCNN + CTC layers model, 1st to extract image features and then to learn sequence sentences.
              </p>
            </div>
              <div class='link'>
                <a href="https://github.com/baokhanh92/OCR-Vietnamese-Cinnamon-Challenge" target='blank'>Learn more</a>
          
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Unsupervised Learning</h2>
              <p class="s-description text-center">
                This is an example of how I learn unsupervised learning techniques. Using different dataset, from sale dataset to a picture. 
                I applied Hierarchical clustering, K-means for clustering data and PCA for reducing dimesion.
              </p>
            </div>
              <div class='link'>
                <a href="https://github.com/baokhanh92/Unsupervised-learning" target='blank'>Learn more</a>
               
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-android-film"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">IMDB Reviews</h2>
              <p class="s-description text-center">
                This is a classic natural language processing problem.
                For this kind of problem, I used Embedding layer together with Bidirectional LSTM layers to predict the outcome.              
              </p>
            </div>
              <div class='link'>
                <a href="https://github.com/baokhanh92/LSTM-IMDB-reviews" target='blank'>Learn more</a>
        
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-ios-nutrition"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Fruit Detection App</h2>
              <p class="s-description text-center">
                This is an end-to-end flask app used to classify 3 types of fruits. 
                See my Github for the model that I used to train data and also beautifull flask app.
              </p>
            </div>
              <div class='link'>
                <a href="https://github.com/baokhanh92/ML_Fruits-detection-flask-app" target='blank'>Learn more</a>
     
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-bug"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Crawling Website</h2>
              <p class="s-description text-center">
                I crawled Tiki website and saved its data in my PostSQL database.
                Then I used save data to rebuild exactly the same website as Tiki.              
              </p>
            </div>
              <div class='link'>
                <a href="https://github.com/baokhanh92/Tiki-SQL-crawling-data-and-build-Tiki-flask-app" target='blank'>Learn more</a>
        
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-ios-basketball"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">NBA Data Analysis</h2>
              <p class="s-description text-center">
                Using Kaggle dataset about NBA from 1950-2007. I dived through the data and using Pandas, Matplotlib, Seaborn and Google Data Studio to make a report to show my findings.              
              </p>
            </div>
                <div class='link'>
                <a href="https://github.com/baokhanh92/NBA-Detail-data-analysis" target='blank'>Learn more</a>
                </div>

          </div>
        </div>
      
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-ios-analytics"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Google App Analysis</h2>
              <p class="s-description text-center">
                Using Google App Store data, I found out some interesting piece of information about apps on Google Store.          
              </p>
            </div>
            <div class='link'>
            <a href="https://github.com/baokhanh92/NBA-Detail-data-analysis" target='blank'>Learn more</a>
            </div>

            </div>
          </div>
        </div>

        

      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

  <!--/ Section Testimonials Star /-->
  <section id="test" div class="testimonials paralax-mf bg-image" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="title-box text-center">
                <h3 class="title-b">
                  TESTIMONIALS
                </h3>
          <div id="testimonial-mf" class="owl-carousel owl-theme">
            <div class="testimonial-box">
              <div class="author-test">
                <img src="static/img/testimonials/dhm.jpeg" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Do Hai Minh</span>
              </div>
              <div class="content-test">
                <p class="position">
                    Head of Academic at CoderSchool. 
                </p>
                <p class="description lead">
                    Khanh is one of my most impressive students in the Bootcamp Full-time Machine Learning at CoderSchool. In the beginning, she started without any coding experience. She had overcome a lot of struggles with a fantastic grit and great attitude.
                </p>
              </div>
            </div>
            <div class="testimonial-box">
              <div class="author-test">
                <img src="static/img/testimonials/khang.jpeg" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Khang Nguyen</span>
              </div>
              <div class="content-test">
                  <p class="position">
                    Barcamp Leader & Parcel Perform CFO. 
                </p>
                <p class="description lead">
                    I highly recommend Khanh, for I believe that in whatever position, she would strive to deliver stellar result. 
                    In Khanh I see someone with a rare combination of an resourceful expert knowing her craft, and a practical mindset simply not accepting the status quo. She can try on the most novel idea and execute it with grace. She is a reliable team member that can be trusted with the most critical piece of work.
                  </p>
              </div>
            </div>

            <div class="testimonial-box">
              <div class="author-test">
                <img src="static/img/testimonials/THu.jpg" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Thu Tran</span>
              </div>
              <div class="content-test">
                  <p class="position">
                    Senior Manager at PMAX. 
                </p>
                <p class="description lead">
                    Khanh is a smart, responsible, critical thinking person. Khanh has many experience in digital marketing, very clear mindset and data oriented in branding & performance marketing. She always push the project quality to the highest standard to propose to client the best service.
                </p>
              </div>
            </div>
            <div class="testimonial-box">
              <div class="author-test">
                <img src="static/img/testimonials/sean.jpeg" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Sean Mitchell</span>
              </div>
              <div class="content-test">
                  <p class="position">
                    Publisher at Techday. 
                </p>
                <p class="description lead">
                    I worked with Khanh on some big Machine Learning projects. She is one of the hardest working individuals I have ever met. She puts in more time on HackerRank and Kaggle than any developer I know. She is really very advanced with her Python, TensorFlow and other coding skills now. I haven't seen anyone with this level of determination for a very long time!
                </p>
              </div>
            </div>

            <div class="testimonial-box">
                <div class="author-test">
                  <img src="static/img/testimonials/felix.jpeg" alt="" class="rounded-circle b-shadow-a">
                  <span class="author">Felix Becquart</span>
                </div>
                <div class="content-test">
                  <p class="position">
                  Web App Developer - Vue.js . 
                </p>
                  <p class="description lead">
                    Khanh and I were working together on a machine learning model that recognize specific elements. She has been working really hard during this project. I was glad to have the opportunity to discover her efficient methods to achive her goals.                  </p>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- JavaScript Libraries -->
  <script src="static/js/lib/jquery/jquery.min.js"></script>
  <script src="static/js/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/js/lib/popper/popper.min.js"></script>
  <script src="static/js/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/js/lib/easing/easing.min.js"></script>
  <script src="static/js/lib/counterup/jquery.waypoints.min.js"></script>
  <script src="static/js/lib/counterup/jquery.counterup.js"></script>
  <script src="static/js/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/js/lib/lightbox/js/lightbox.min.js"></script>
  <script src="static/js/lib/typed/typed.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>

</body>
</html>
